.App {
  width: 100vw;
  height: 100vh;
  min-width: 450px;
  display: flex;
  flex-direction: column;
}

.contentBox {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content:center;
}

.border {
  border: 2px solid lightgray;
  border-radius: 15px;
}

/* Menu and TabMenu */

.menuBox {
  min-width: 150px;
  margin-left: 10px;
  text-align: center;
}

.menuStack {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  width: fit-content;
}

.tabMenuContainer {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
}


/* Edit info */

.profileStack {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 15px;
  height: fit-content;
  width: 100%;
  max-width: 700px;
}

/* Messages */

.messagesContainer {
  display: flex;
  display: column;
  max-width: 900px;
  height: 100%;
}

.messageContentStack {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 15px;
  justify-content: flex-end;
  height: 100%;
}

.sideButtonStack {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  overflow-y: auto;
  height: 90%;
  width: 150px;
}

.underButtonStack {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
  height: 200px;
}

.sendMessageBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
